@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.form-main {
	height: 100%;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	margin: 1rem auto 0;

	&__title {
		@include page-title;
	}

	&__field {
		display: block;
	}

	&__input {
		margin-bottom: 1rem;
	}

	&__button-wrapper {
		margin-top: auto;
	}

	button {
		margin-bottom: 1rem;
	}
}
