@use "./variables" as *;

// MEDIA QUERIES
@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1020px) {
		@content;
	}
}

// CONTENT WIDTH CONTAINER
@mixin content-width {
	@include desktop {
		max-width: 63.75rem;
		margin: 0 auto;
	}
}

// Page titles
@mixin page-title {
	font-size: 2rem;
	font-weight: 600;
	color: $primary-dark;
	padding-bottom: 1rem;
	border-bottom: 0.2rem solid $primary-dark;
}
