// COLORS
$primary-dark: #023047; //lightmode primary text color, darkmode background
$secondary-dark: #219ebc; // LM secondary text color
$primary-light: #8ecae6; //
$primary-accessory: #fb8500; // button color
$secondary-accessory: #ffb703; // input border, icon fill color, DM secondary text color
$white: #fff; // LM background, DM primary text color
