@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.background {
	position: fixed;
	top: 0;
	width: 100vw;
	border-bottom: 0.2rem solid $secondary-accessory;
	z-index: 2;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: $white;

	@include tablet {
		padding: 1rem 2.25rem;
		margin: 0 auto;
		width: 100%;
	}

	@include desktop {
		@include content-width;
		margin: 0 auto;
	}

	&__nav {
		display: flex;
	}

	&__link {
		font-size: 1rem;
		font-weight: 400;
		color: $primary-dark;
		text-decoration: none;
		margin-right: 0.75rem;

		&--active {
			color: $primary-accessory;
			font-weight: 700;
		}

		&:hover {
			font-weight: 700;
		}

		@include tablet {
			font-size: 1.25rem;
			margin-right: 1rem;
		}
	}

	&__logo {
		width: 3rem;
		vertical-align: bottom;

		@include tablet {
			width: 5rem;
		}
	}
}
