@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.footer {
	position: fixed;
	bottom: 0;
	height: 1.5rem;
	width: 100vw;
	text-align: center;

	&__text {
		color: $primary-dark;
		font-size: 0.75rem;
		font-weight: 400;
		margin: 0 auto;
	}
}
