@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

.main {
	display: flex;
	margin: 1rem;

	@include tablet {
		margin: 2.25rem;
	}

	@include desktop {
		@include content-width;
		margin: 0 auto;
	}
}
