@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.profile {
	padding: 5rem 1rem 1rem 1rem;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;

	&__container {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		&--ideas {
			overflow-y: scroll;
		}
	}

	&__title {
		@include page-title;
		text-align: center;
		width: 100%;
		border-bottom: 0.2rem solid $primary-accessory;

		&--inactive {
			border-bottom: none;
		}
	}

	&__subheader {
		color: $secondary-dark;
		padding: 0.5rem 0;
	}
	&__note {
		font-size: 0.75rem;
	}

	&__error-message {
		font-size: 0.5rem;
	}

	&__button {
		margin-top: auto;
	}

	&__idea {
		color: $primary-dark;
		padding: 0.75rem;
		text-overflow: ellipsis;
		flex-grow: 1;
	}
	&__idea-button {
		height: 2rem;
		width: 2rem;
		margin-right: 1rem;
	}
	&__idea-wrapper {
		display: flex;
		align-items: center;
		border-radius: 0.25rem;

		&:active {
			background-color: $primary-light;
		}

		&:hover {
			background-color: $primary-light;
		}
	}
}
