@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height: 100vh;
	width: 100%;
	margin: 0 1rem;
	@include content-width;

	@include desktop {
		text-align: center;
		align-items: center;
	}

	&__title {
		font-size: 3rem;
		font-weight: 600;
		color: $primary-dark;

		@include desktop {
			font-size: 4rem;
		}
	}

	&__title-cursor {
		font-size: 3rem;
		font-weight: 600;
		color: $secondary-accessory;

		@include desktop {
			font-size: 4rem;
		}
	}

	&__tagline {
		font-size: 1rem;
		font-weight: 400;
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 0.2rem solid $primary-accessory;
		width: 100%;
		color: $primary-dark;

		@include tablet {
			width: 70%;
		}

		@include desktop {
			text-align: center;
		}

		p {
			margin-bottom: 0.5rem;
		}

		&--bold {
			font-weight: 600;
		}
	}

	&__cta-wrapper {
		position: absolute;
		bottom: 1rem;
		display: flex;
		align-items: center;

		@include tablet {
			bottom: 2rem;
		}
	}

	&__cta-label {
		font-size: 1rem;
		font-weight: 400;
		color: $primary-dark;
		padding-left: 0.5rem;
	}
	&__cta {
		width: 3rem;
		@include tablet {
			transform: rotateX(45);
		}
	}

	&__logo {
		width: 2.75rem;
		vertical-align: text-top;
	}
}
